.modal-dialog.modal-lg{:role => "document"}
  .modal-content
    .modal-header
      %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
        %span{"aria-hidden" => "true"} &times;
      %h4#myModalLabel.modal-titl= "添加订单"
    .modal-body
      = simple_form_for @order , html: { class: 'form-horizontal' }, wrapper: :horizontal_form do |f|
        = f.error_notification
        .form-inputs
          .row
            .col-sm-6
              = f.input :origin_order_number, label: "原始订单号"
              = f.input :customer_name, label: "姓名"
              = f.input :id_number, label: "身份证"
            .col-sm-6           
              = f.input :origin_payment_number, label: "原始支付单号"
              = f.input :phone, label: "电话"

          .row
            .col-sm-9
              = f.input :street, label: "详细地址",wrapper: :fix_label_width
            .col-sm-3    
              = f.input :zip_code, label: "邮编"              
          .row
            .form-group
              %label.optional.control-label{:style => "width: 111px; margin-right: 15px; float: left;"} 所在地区
              #city.col-sm-6
                %select.prov.select.col-sm-6.optional.form-control{:style => "width: 30%;",:name=>"order[province]"}
                %select.city.select.col-sm-6.optional.form-control{:disabled => "disabled",:style => "width: 30%;",:name=>"order[city]"}
                %select.dist.select.col-sm-6.optional.form-control{:disabled => "disabled",:style => "width: 30%;",:name=>"order[area]"}          



          .row
            = link_to_add_association f, :order_products,:"data-association-insertion-node" => "tbody#order_products", :"data-association-insertion-method" => "append", :partial => "order_product_fields", :class => "btn btn-primary" do
          
              添加商品
            %table.table.table-responsive.table-striped.table-hover
              %tbody#order_products
                = f.simple_fields_for :order_products do |order_product|
                  = render 'order_product_fields', f: order_product


        .modal-footer
          .form-actions
            = f.button :submit, "保存", class: "btn btn-primary"
            %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} 关闭
:javascript

  $("#city").citySelect({
    prov:"#{@order.province}",
    city:"#{@order.city}",
    dist:"#{@order.area}",
    nodata:"none"
  })