.modal-dialog.modal-lg{:role => "document"}
  .modal-content
    .modal-header
      %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
        %span{"aria-hidden" => "true"} &times;
      %h4#myModalLabel.modal-titl= "添加订单"
    .modal-body
      = simple_form_for @order , html: { class: 'form-horizontal' }, wrapper: :horizontal_form do |f|
        = f.error_notification
        .form-inputs
          = f.association :order_status,label_method: :status
          .row
            .col-sm-6
              = f.input :origin_order_number, label: "原始订单号"
            .col-sm-6           
              = f.input :origin_payment_number, label: "原始支付单号"
          .row    
            .col-sm-3
              = f.input :customer_name, label: "姓名"
            .col-sm-3
              = f.input :phone, label: "电话"
            .col-sm-6
              = f.input :id_number, label: "身份证"
          = f.input :province
          = f.input :city
          = f.input :street
          = f.input :zip_code
          = f.simple_fields_for :order_products do |order_product|
            = render 'order_product_fields', f: order_product
          .links
            = link_to_add_association 'add product', f, :order_products

          .city-group
            = f.input :province do
              %select#province.city-select.select.optional.form-control   
                %option --省--
                = options_for_select(ChinaCity.list)
            = f.input :city do                
              %select#city.city-select.select.optional.form-control   
                %option --市--
        .modal-footer
          .form-actions
            = f.button :submit, "保存", class: "btn btn-primary"
            %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
