.row
  .col-lg-12
    .page-header
      .row
        .col-lg-5            
          %p.bs-component
            = link_to '创建订单', new_order_path, :class => "btn btn-primary", remote: true              
            %a.btn.btn-primary{:href => "#"} 导入订单
            %a.btn.btn-primary{:href => "#"} 提交审核
            %a.btn.btn-primary{:href => "#"} 推送海关
        .col-lg-7
          %form.navbar-form.navbar-right{:role => "search"}
            .form-group
              %input.form-control{:placeholder => "查询订单", :type => "text"}
            %button.btn.btn-primary{:type => "submit"} 搜索
    .bs-component
      %table.table.table-responsive.table-striped.table-hover
        %thead
          %tr
            %th
              %input#select_all{:type => "checkbox"}
                ="全选"
            %th 外部原始订单号
            %th 外部原始支付单号
            %th 收货人姓名
            %th 联系电话
            %th 身份证号码
            %th 地址
            %th

        %tbody
          - @orders.each do |order|
            %tr
              %td
                - if order.order_status.status == '未提交'
                  %input.select_order{:type => "checkbox", :order_id => order.id}
                    = order.order_status.status
                - else  
                  %input.select_order{:type => "checkbox", :order_id => order.id, :disabled=>"disabled"}
                    = order.order_status.status

              %td 
                = order.origin_order_number
              %td 
                = order.origin_payment_number
              %td 
                = order.customer_name
              %td 
                = order.phone
              %td 
                = order.id_number
              %td 
                = order.shipping_address              
              %td
                - if order.order_status.status == '未提交'                
                  = link_to '编辑', edit_order_path(order), :class => "btn btn-primary", remote: true
      = link_to '创建订单', new_order_path, :class => "btn btn-primary", remote: true

#edit_order.modal.fade{"aria-labelledby" => "edit_product_modal", :role => "dialog", :tabindex => "-1"}

  .col-lg-7
    .col-lg-5