%h3 商品管理
%table.table.table-responsive.table-striped.table-hover
  %thead
    %tr
      %th 名称
      %th 商品类目
      %th 规格
      %th 计量单位
      %th 海关编码
      %th

  %tbody
    - @products.each do |product|
      %tr
        %td= product.name
        %td= product.product_catalog.name
        %td= product.model        
        %td= product.unit
        %td= product.customs_code        
        %td
          = link_to '编辑', edit_product_path(product), :class => "btn btn-primary active", remote: true
          = link_to '删除', product, :method => :delete, :data => { :confirm => 'Are you sure?' } ,:class => "btn btn-danger active"

= link_to '添加产品', new_product_path, :class => "btn btn-primary active", remote: true
#edit_product.modal.fade{"aria-labelledby" => "edit_product_modal", :role => "dialog", :tabindex => "-1"}

